:root {
    --background-color: #000000;
    --foreground-color: #676868;
    --ui-color: #f0f0f0;
    --ui-hover-color: #dbdbdb;
    --ui-text-color: #242424;
    --highlight-color: #6aedfc;
}

.top-bar {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 30px;

    background-color: var(--foreground-color);
}

.dropdown {
}

.dropdown-button {
    background-color: var(--ui-color);
    color: var(--ui-text-color);
    cursor: pointer;
    
    text-align: left;
    width: 45px;
    height: calc(100% - 6px);
    margin: 3px;
    border: 0;
    border-radius: 2px;
}

.dropdown-button:hover {
    background-color: var(--ui-hover-color);
}

.dropdown-menu-button {
    border: 0;
    background-color: var(--ui-color);
    color: var(--ui-text-color);
    width: 90px;
    text-align: left;
    cursor: pointer;
    padding: 3px;
}

.dropdown-menu-button:hover {
    background-color: var(--ui-hover-color);
}

.dropdown-menu {
    display: none;
    flex-direction: column;
    position:absolute;
    margin-left: 3px;
}

.dropdown:hover .dropdown-menu {
    display: flex;
}