:root {
    --background-color: #000000;
    --foreground-color: #676868;
    --ui-color: #65989e;
    --highlight-color: #6aedfc;
}

html, body {
    background-color: var(--background-color);

    padding: 0;
    margin: 0;
}